# Dashboard password
PASSWORD=test

APP_PORT=9000
LSP_PORT=9001

# Database
# Nếu dùng docker-compose: POSTGRES_HOST=postgres, REDIS_HOST=redis
# Nếu chạy local: POSTGRES_HOST=localhost, REDIS_HOST=localhost
POSTGRES_HOST=postgres
POSTGRES_NAME=jesse_db
POSTGRES_PORT=5432
POSTGRES_USERNAME=jesse_user
POSTGRES_PASSWORD=password

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

LICENSE_API_TOKEN=
