# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/

# Jesse
storage/logs/
storage/charts/
storage/cache/
storage/results/
storage/downloads/
storage/temp/cache_database.pickle

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
